  //Color
    $bc1: #ff5722!important;
    $bc2: #fff!important;
    $bc3: #e94f21!important;
   
    $c: navajowhite!important;
    $c1: #666!important;
    $c2: #292929!important;
    $c3: darkred!important;
    
    //Font
    $f1: "IBM Plex Mono", monospace;
    $f2: cursive;